body {
    background-image: url(https://conecta.tec.mx/sites/default/files/styles/header_full/public/2018-10/portada-cambioclimatico.jpg.webp?itok=bgr5mSP4);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Para navegadores WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 12px;
    opacity: 1!important;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #0d6efc;
    border-radius: 6px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #f0f0f0;
  }
  
  ::-webkit-scrollbar-track {
    background: #f0f0f0;
  }