body {
    background-image: url(https://conecta.tec.mx/sites/default/files/styles/header_full/public/2018-10/portada-cambioclimatico.jpg.webp?itok=bgr5mSP4);
    background-repeat: no-repeat;
    background-size: cover;
}

.custom-scrollbar {
    overflow-x: scroll !important;
    white-space: nowrap;
    scrollbar-color: #ff5733 #f0f0f0;
    padding-bottom: 10px;
}

.custom-scrollbar::-webkit-scrollbar {
    height: 8px;
    
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #ff5733;
    border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f0f0f0;
}

.custom-scrollbar {
    -ms-overflow-style: none;
    scrollbar-gutter: stable;
}